*{

    padding: 0;

    margin: 0;

    box-sizing: border-box;
 

}

.container{

    width: 100%;

    display: flex;

flex-wrap: wrap;

justify-content: center;

}



.copy{

    width: 50%;

    height: 400px;

    

}

.copy .capa1{

    width: 100%;

    height: 400px;

  

   display: flex;

   flex-wrap: wrap;

   padding: 20px;

}

.copy .capa1 h1{

    font-family: 'Montserrat', sans-serif;

    font-weight: 900;

}

.copy .capa1 span{

    font-family: 'Montserrat', sans-serif;

    font-weight: 900;

}

.copy .capa1 a{

    font-family: 'Montserrat', sans-serif;

    font-weight: 900;

    width: 100%;

}

.copy .capa2{

    width: 100%;

    height: 400px;

  display: flex;

  flex-direction: column;

   padding: 10px;

   margin-top: -300px;

   margin-left: -1000px;

   transition: all 0.5s;

   font-family: 'Montserrat', sans-serif;



}



form{

    width: 70%;

   margin-top: 100px;

    display: flex; 

    flex-direction: column;

    margin: 0 auto;

   

}

form input{

    width: 100%;

    padding: 10px;

    margin-bottom: 25px;

    border: none;

    margin-top: 10px;

}



.botones{

    width: 100%;

    margin-top: -74px;

    margin-left: 250px;

}


.send{

    
z-index: 1000;
}





.slide{

    width: 100%;

    height: 300px;

   display: flex;

   flex-wrap: wrap;

   padding: 10px;

   margin-top: -300px;

   margin-left: 0;

   

   transition: all 0.5s;

}

.off{

    display: none;

    margin-left: -1000px;

}



.copy .capa1 h1{

width: 100%;

}

.copy .capa1 span{

    width: 100%;

    }

/* .copy .capa2{

   margin-top: -300px;

    width: 100%;

    height: 300px;

  background-color: aquamarine;

} */

.form{

    width: 50%;

    height: 300px;

   

}

.contact {

    width: 60%;

    border: none;

    background-color: #feca00;

    cursor: pointer;

}

.contact:hover{

    transition: all 0.5s;

    background-color: transparent;

    border: 1px solid #966e36;

    color: #966e36;

}

form input[type="submit"]{

    width: 200px;

    padding: 10px;

    margin-bottom: 25px;

    border: none;

    background-color: #feca00;

    cursor: pointer;

    padding: 16px;

   margin-left: 0;

}

.botones button {

    width: 200px;

    border: none;

    background-color: transparent;

    cursor: pointer;

    padding: 16px;

   margin-left: 100px;

   border: none;

   transition: all 0.5s;

    

}

.botones button:hover{

    transition: all 0.5s;

    background-color: transparent;

    border: 1px solid #966e36;

    color: #966e36;

}

/* media */

@media screen and (max-width: 800px) {

  

    .copy{

        width: 100%;

        height: 300px;

      

    }

    .form{

        width: 100%;

        height: 300px;

        margin-top: 150px;

        padding: 0;

    }

    .form img{

        width: 100%;

        display: block;

    }

    .copy .capa2{

    width: 100%;

    height: 400px;

  display: flex;

  flex-direction: column;

   padding: 10px;

   margin-top: -300px;

   margin-left: -1000px;

   transition: all 0.5s;

   font-family: 'Montserrat', sans-serif;



}

.botones{

    width: 100%;

    margin-top: -110px;

  margin-left: 55px;

}

.botones button {

    width: 100px;
margin: 0 auto;
    border: none;
text-align: center;
    background-color: #ebebeb;

    cursor: pointer;

    padding: 5px;

   margin-left: 0;

   border: none;

   transition: all 0.5s;

    

}
}

/* tablet */

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

    .botones{

        width: 100%;
    
        margin-top: -80px;
    
      margin-left: 500px;
     
    
    }
   footer{

       position: relative;
    top: 200px;
    
    }
    .row article{

        width: 80%;
        margin: 50px auto;
      
        margin-bottom:50px ;

    }
   
    }

    @media only screen 
and (min-device-width: 820px) 
and (max-device-width: 1180px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

    .botones{

        width: 100%;
    
        margin-top: -80px;
    
      margin-left: 150px;
     
    
    }
   footer{

       position: relative;
    top: 200px;
    
    }
    .row article{

        width: 80%;
        margin: 50px auto;
      
        margin-bottom:50px ;

    }
    aside .banner2 p{

        font-size: 14px;
    
        margin-bottom: 50px;
    
        font-family: 'Montserrat', sans-serif;
    
    font-weight: 800;
    
    }

   
    }
 


    @media screen 
and (min-device-width: 1024px) 
and (max-device-width: 1200px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
    aside .banner2 p{

        font-size: 14px;
    
        margin-bottom: 50px;
    
        font-family: 'Montserrat', sans-serif;
    
    font-weight: 800;
    
    }

}
@media screen 
and (min-device-width: 280px) 
and (max-device-width: 412px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
 
  .btn-group {
    text-align: center;
    position: fixed;
    top: 500px;
    left: 300px;
  }
  
}

@media screen 
and (min-device-width: 390px) 
and (max-device-width: 414px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
 
  .btn-group {
    text-align: center;
    position: fixed;
    top: 500px;
    left: 350px;
  }
  
}
@media screen 
and (min-device-width: 912px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
 
  .btn-group {
    text-align: center;
    position: fixed;
    top: 500px;
    left: 800px;
  }
  
}
@media screen 
and (min-device-width: 1024px) 
and (max-device-width: 1280px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
 
  .btn-group {
    text-align: center;
    position: fixed;
    top: 500px;
    left: 1100px;
  }
  
}
@media screen 
and (min-device-width: 1400px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
 
  .btn-group {
    text-align: center;
    position: fixed;
    top: 500px;
    left: 1250px;
  }
  
}
